@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

/* Custom scrollbar for code block */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #23262f;
}
